header{ 
  color: blue;
  text-align: center;
  position: -webkit-sticky;
  position: sticky;
}


h1{
  background: pink;
  height: 50px;
  padding: 40px 40px 0px;
  margin-bottom: 0;
} 

h2{
  background: skyblue;
  margin: 0.1;
  padding-top: 0;
}

dt{
  font-weight: bold;
  font-size: 1.30em;
}